.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .page-title {
        margin-left: 3px;
        color: white;
        font-size: 23px;
        font-weight: 300;
    }

    .header-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        color: white;

        .page-setting {
            width: 60px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}

.content-layout {
    padding: 14px;
}