.container{
  width: 340px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1), -2px 2px 2px 1px rgba(0, 0, 0, 0.1);

  .top{
    text-align: center;
    border-bottom: 1px solid #dbdde1;
    padding: 10px 0 12px ;
  
    .account{
      font-size: 22px;
      font-weight: 600;
      color: #1d1e21;
    }
    
    .label{
      font-size: 14px;
      color: #62676f;
    }
  }

  .middle{
    display: flex;
    flex-direction: column;
    padding: 10px;

    .picture_mark{
      scale: 0.3;
      width: 44px;
      height: 44px;
      background-image: url('./images/image.png');
      background-position: 0 0;
      background-repeat: no-repeat;
      display: none;
    }
  
    .name{
      display: flex;
      flex-direction: row;
      padding:5px 0;
      
      input{
        height: 30px;
        text-indent: 7px;
        border: 1px solid #cdd0d4;
        border-radius: 5px;
        width: 150px;
      }

      .input_null {
        height: 30px;
        text-indent: 7px;
        border: 1px solid red;
        border-radius: 5px;
        width: 150px;
      }

      .last_name {
        position: relative;
      }

      .first_name{
        position: relative;
        margin-left: 10px;
      }
    
    }
  
    .phone , .pwd{
      position: relative;
      padding:5px 0;
    
      input {
        height: 30px;
        width: 315px;
        text-indent: 7px;
        border: 1px solid #cdd0d4;
        border-radius: 5px;
      }

      .input_null {
      height: 30px;
      text-indent: 7px;
      border: 1px solid red;
      border-radius: 5px;
      width: 315px;
    }
    }
  
    .select{
      display: flex;
      flex-direction: column;
      font-size: 11px;
      color: #62676f;
    
      .select_top{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4px 0;
        position: relative;
    
        .picture_doubt{
          scale: 0.4;
          width: 26px;
          height: 26px;
          background-image: url('./images/image.png');
          background-position: 2px -119px;
          background-repeat: no-repeat;
        }
      }
    
      .select_date{
        padding:5px 0;
      
        select{
          height: 32px;
          width: 101px;
          border: 1px solid #cdd0d4;
          border-radius: 5px;
        }
        .year,.month{
          margin-right: 5px;
        }
      }
      
      .select_sex{
        display: flex;
        flex-direction: row;
        padding:5px 0;
        font-size: 13px;
        color: #1d1e21;
    
        .border{
          width: 103px;
          border: 1px solid #cdd0d4;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 32px;
        }
        .female,.male{
          margin-right: 5px;
        }
    
        span{
          margin-left: 5px;
        }
      }

      #sex_input{
        input{
          height: 30px;
          width: 315px;
          border: 1px solid #cdd0d4;
          border-radius: 5px;
          margin: 5px 0;
          display: none;
          text-indent: 7px; 
        }
      }
    
      .agreement{
        font-size: 10px;
        padding:5px 0;
    
        a{
          text-decoration: none;
        }
      }
    }
    
    .click_submit{
      text-align: center;
      margin:15px 0;
    
      input{
        width: 170px;
        height: 30px;
        background-color: #3a8a0b;
        color: white;
        border: 0px white;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 600;
      }
    }
  
    .click_link{
      text-align: center;
      margin-bottom: 10px;
      a{
        font-size: 14px;
        color: #518ceb;
        text-decoration: none;
      }
    }
  }
}



 