html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-background {
  background: url('../../public/90.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
  
.performance-background {
  background-image: url('../../public/91.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.scale-background {
  background-image: url('../../public/92.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.reliability-background {
  background-image: url('../../public/94.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}