html, body {
    width: 100%;

    .page-container {
        width: 45%;
        margin: 30px auto 0;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1), -2px 2px 2px 1px rgba(0, 0, 0, 0.1);

        .top-nav, .bottom-show {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: baseline;
        }

        .top-nav {
            padding-top: 20px;
            
            .nav-classify, .select{
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .nav-classify {
                height: 40px;

                .item {
                    font-size: 16px;
                    padding: 10px 16px;
                    color: #262626bf;
                    border-radius: 9999px;
                    background-color: rgba(0, 10, 32, 0.05);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 15px;
                    cursor: pointer;
                    
                    svg {
                        width: 18px;
                        height: 18px;
                        margin-right: 8px;
                    }
                }

                .light-active {
                    color: white;
                    background-color:black !important;

                    svg {
                        color: white !important;
                    }
                }

                .item:hover {
                    background-color: rgb(231, 229, 229);
                }

            }

            .select {
                height: 32px;

                .select-list {
                    width: 104px;
                    margin-left: 15px;
                    position: relative;
                    
                    .btn {
                        border: 0;
                        width: 100%;
                        font-size: 14px;
                        line-height: 20px;
                        text-align: left;
                        color: #262626bf;
                        background-color: #000a200d;
                        border-radius: 5px;
                        padding: 6px 12px;
                        white-space: nowrap;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;
                        
                        svg {
                            width: 18px;
                            height: 18px;
                            transition: 0.3s cubic-bezier(.4,0,.2,1);
                        }
                    }

                    .btn:focus svg {
                        transform: rotate(180deg);
                        display: block;
                    }

                    .btn-wrap-content {
                        display: none;
                        z-index: 10;
                        width: 224px;
                        margin-top: 4px;
                        font-size: 14px;
                        padding: 8px;position: absolute;
                        border-radius: 8px;
                        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.04) 0px 1px 3px 0px, rgba(0, 0, 0, 0.08) 0px 4px 12px 0px;
                        color: rgb(38, 38, 38);
                        background-color: white;
                        
                        .wrap-content {
                            box-sizing: border-box;
                            width: 100%;
                            cursor: pointer;
                            height: 32px;
                            line-height: 21px;
                            padding: 6px 48px 6px 8px;
                            

                            div {
                                max-width: 168px;
                                height: 20px;
                                line-height: 21px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }

                        .wrap-content:hover {
                            background-color: rgb(231, 229, 229);
                        }

                    }

                }

                .select-list:hover {
                    background-color: rgb(231, 229, 229);
                }

            }

        }

        .bottom-show {
            padding-bottom: 20px;
            
            .bottom-head { 
                color: rgba(60, 60, 67, 0.6);
                font-weight: 400;
                border-bottom: 0.8px solid rgb(240, 240, 240);

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    svg {
                        width: 14px;
                        height: 14px;
                    }
                }
            }

            .content {
                width: 100%;
            }  

            .bottom-head, .bottom-content {
                width: 100%;
                height: 43px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                div {
                    font-size: 14px;
                    text-align: left;
                    margin: 0 10px;
                    cursor: pointer;
                }

                .question-title:hover {
                    color: blue;
                }

                .question-title {
                    margin-left: 25px;
                    flex: 160 0 auto;
                    width: 160px;
                }

                .question-solve {
                    flex: 96 0 auto;
                    width: 96px;
                }

                .question-pass {
                    flex: 82 0 auto;
                    width: 82px;
                }

                .question-level {
                    flex: 60 0 auto;
                    width: 60px;
                }

            }

        }
    }
}